.treaty {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}
.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

  &__label {
    font-size: 14px;
    color: $color-dark-grey;
    padding-left: 30px;
    position: relative;
    user-select: none;
    cursor: pointer;

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      border: 2px solid rgba($color-dark-grey, 0.8);
      border-radius: 2px;
      transition: all 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;

      &:after {
        content: "";
        display: block;
        width: 8px;
        height: 0px;
        border: solid white;
        border-width: 1px;
        opacity: 0;
        transition: opacity 0.2s linear;
      }
    }

    &:hover {
      .checkmark {
        &--add {
          background-color: $color-light-green;
        }

        &--remove {
          background-color: $color-light-red;
        }
      }
    }
  }

  &:checked ~ .checkmark {
    &--add {
      background-color: $color-dark-green;
    }

    &--remove {
      background-color: $color-dark-red;
    }

    &--deselect {
      &:after {
        opacity: 1;
      }
    }
  }
}
