.treaties {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: calc(100% - 4px);
  padding: 2px;
  height: 64vh;
  overflow-y: scroll;

  &--empty {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .empty-message {
      color: #005be7;
    }
  }

  .treaty {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    padding: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    &__label {
      font-size: 14px;
      margin-left: 8px;
      color: $color-dark-grey;
      line-height: 0;
    }
  }
}
