@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import "./normalize.scss";

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Sans", sans-serif;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;

  &:disabled {
    cursor: not-allowed;
  }
}

@import "./animations.scss";
@import "../TreatiesModal/TreatiesModal.scss";
@import "../TreatiesModal/TreatyTable/TreatyTable.scss";
@import "../TreatiesModal/Treaty/Treaty.scss";
